# Data Exploration: Federal RePORTER

Written by: Daniela Hochfellner

## Import necessary libraries

In [3]:
import pandas as pd

# Grant statistic summary

# loading data

In [4]:
grants_2009_2018 = []
years = [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
for year in years:
    grant = pd.read_csv('Grants_Projects/FedRePORTER_PRJ_C_FY' + str(year) + '.csv', low_memory=False, skipinitialspace=True) 
    grants_2009_2018.append(grant)  # append that dataframe to a list

# Concatenate all the dataframes together into one dataframe
grants_2009_2018 = pd.concat(grants_2009_2018)

In [5]:
patents_2010_2018 = []
years = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
for year in years:
    pt = pd.read_csv('Patents/patents_' + str(year) + '.csv', low_memory=False, skipinitialspace=True) 
    patents_2010_2018.append(pt)  # append that dataframe to a list

# Concatenate all the dataframes together into one dataframe
patents_2010_2018 = pd.concat(patents_2010_2018)

In [6]:

abst = []
years = [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
for year in years:
    ab = pd.read_csv('Grants_Abstracts/FedRePORTER_PRJABS_C_FY' + str(year) + '.csv', low_memory=False, skipinitialspace=True) 
    abst.append(ab)  # append that dataframe to a list

# Concatenate all the dataframes together into one dataframe
abs_2010_2018 = pd.concat(abst)

# merge grant data with abstract

In [7]:
grants_abstract_2009_2018 = grants_2009_2018.merge(abs_2010_2018, how='inner', left_on = 'PROJECT_ID', right_on = 'PROJECT_ID')

In [8]:
test=grants_abstract_2009_2018.dropna(subset=['ABSTRACT','CONTACT_PI_PROJECT_LEADER'])

In [9]:
RE = test[test['ABSTRACT'].str.contains('solar | wind power | wind turbine | biomass | biofuel | geothermal')]
len(RE)

9049

In [10]:
RE.columns

Index(['PROJECT_ID', 'PROJECT_TERMS', 'PROJECT_TITLE', 'DEPARTMENT', 'AGENCY',
       'IC_CENTER', 'PROJECT_NUMBER', 'PROJECT_START_DATE', 'PROJECT_END_DATE',
       'CONTACT_PI_PROJECT_LEADER', 'OTHER_PIS', 'CONGRESSIONAL_DISTRICT',
       'DUNS_NUMBER', 'ORGANIZATION_NAME', 'ORGANIZATION_CITY',
       'ORGANIZATION_STATE', 'ORGANIZATION_ZIP', 'ORGANIZATION_COUNTRY',
       'BUDGET_START_DATE', 'BUDGET_END_DATE', 'CFDA_CODE', 'FY',
       'FY_TOTAL_COST', 'FY_TOTAL_COST_SUB_PROJECTS', 'ABSTRACT'],
      dtype='object')

# project received the most funds

In [11]:
RE.sort_values(by ='FY_TOTAL_COST', ascending = False)[['AGENCY','FY_TOTAL_COST','PROJECT_START_DATE',"PROJECT_TITLE"]]

,AGENCY,FY_TOTAL_COST,PROJECT_START_DATE,PROJECT_TITLE
129229,NSF,146000000.0,1/1/2010,ADVANCED TECHNOLOGY SOLAR TELESCOPE (ATST) CON...
129330,NSF,38611244.0,10/1/2009,DEVELOPING THE PRELIMINARY DESIGN FOR THE DEEP...
213574,NIFA,23600000.0,2/1/2010,NORTHWEST ADVANCED RENEWABLES ALLIANCE (NARA):...
128557,NSF,20000000.0,1/1/2010,ADVANCED TECHNOLOGY SOLAR TELESCOPE (ATST) CON...
213580,NIFA,19818025.0,2/1/2010,AGRO-ECOSYSTEM APPROACH TO SUSTAINABLE BIOFUEL...
...,...,...,...,...
871785,VA,NaN,4/1/2018,TARGETING THE MELANOCORTIN 1 RECEPTOR BY SELEC...
895189,NIH,NaN,NaN,PROJECT 5: REMEDIATION OF CONTAMINATED GROUNDW...
905278,NIH,NaN,NaN,PROJECT 1: NUCLEOTIDE EXCISION REPAIR
929817,NSF,NaN,7/15/2018,COLLABORATIVE RESEARCH: MODELING THE NONLINEAR...
935479,NSF,NaN,1/1/2018,CAREER: PUSHING THE EXTREMES OF HEAT CONDUCTIO...

# State info

In [12]:
RE['ORGANIZATION_STATE'].describe()

count     8861
unique      54
top         CA
freq      1050
Name: ORGANIZATION_STATE, dtype: object

# Institution info

In [13]:
RE_ins = RE.groupby('ORGANIZATION_NAME').agg({'FY_TOTAL_COST':'sum'}).\
sort_values(by='FY_TOTAL_COST',ascending=False)
RE_ins

                                                    FY_TOTAL_COST
ORGANIZATION_NAME
ASSOCIATION OF UNIVERSITIES FOR RESEARCH IN AST...    187428212.0
US FOREST SERVICE                                      99957643.0
AGRICULTURAL RESEARCH SERVICE                          90884928.0
UNIVERSITY OF CALIFORNIA BERKELEY                      78361320.0
UNIVERSITY OF MICHIGAN AT ANN ARBOR                    56775171.0
...                                                           ...
CROP IMPROVEMENT/UTILIZATION RESEARCH                         0.0
VIRGINIA POLYTECHNIC INSTITUTE                                0.0
DANA-FARBER CANCER INSTITUTE                                  0.0
VETERANS AFFAIRS MED CTR SAN FRANCISCO                        0.0
UNIVERSITY OF CALIFORNIA, DAVIS                               0.0

[1219 rows x 1 columns]

# Agency info

In [14]:
RE_agency = RE.groupby('AGENCY').agg({'FY_TOTAL_COST':'sum'}).\
sort_values(by='FY_TOTAL_COST',ascending=False)
RE_agency.head(5)

        FY_TOTAL_COST
AGENCY
NSF      2.313487e+09
NIFA     3.336677e+08
NIH      2.452777e+08
ARS      1.365819e+08
FS       9.995764e+07

# PI info

In [15]:
RE_PI = RE.groupby('CONTACT_PI_PROJECT_LEADER').agg({'FY_TOTAL_COST':'sum'}).\
sort_values(by='FY_TOTAL_COST',ascending=False)
RE_PI

                           FY_TOTAL_COST
CONTACT_PI_PROJECT_LEADER
KEIL, STEPHEN L              169100000.0
LESKO, KEVIN T                38611244.0
CAVALIERI, RALPH              23600000.0
BUFFINGTON, JOHN M            21412999.0
MOORE, KENNETH J              20316403.0
...                                  ...
EMILIANO, ANASTACIO                  0.0
ULERY, A.                            0.0
BHATTACHARYA, DE, .                  0.0
ENGELBERTH, A. S.                    0.0
DAY, M. E.                           0.0

[6623 rows x 1 columns]

In [16]:
RE['FY_TOTAL_COST'].describe()

count    7.943000e+03
mean     4.054394e+05
std      1.843456e+06
min      1.000000e+00
25%      1.194165e+05
50%      2.490000e+05
75%      4.050835e+05
max      1.460000e+08
Name: FY_TOTAL_COST, dtype: float64

# Text selecting of renewable energy

In [17]:
geo = test[test['ABSTRACT'].str.contains('geothermal')]
bio = test[test['ABSTRACT'].str.contains('biomass | biofuel')]
wind = test[test['ABSTRACT'].str.contains('wind power | wind turbine')]
solar = test[test['ABSTRACT'].str.contains('solar')]

In [18]:
len(geo)+len(solar)+len(wind)+len(bio)

10430

# statistic summary

# solar

In [19]:
solar[['CONTACT_PI_PROJECT_LEADER','DEPARTMENT',\
       'AGENCY','ORGANIZATION_CITY','ORGANIZATION_STATE','ORGANIZATION_COUNTRY']].describe()

,CONTACT_PI_PROJECT_LEADER,DEPARTMENT,AGENCY,ORGANIZATION_CITY,ORGANIZATION_STATE,ORGANIZATION_COUNTRY
count,5430,5430,5430,5336,5318,5343
unique,3859,8,10,477,53,10
top,"KATIYAR, SANTOSH KUMAR",NSF,NSF,BOULDER,CA,UNITED STATES
freq,15,4396,4396,169,718,5318

In [20]:
solar['FY_TOTAL_COST'].sum()

1957320165.0

In [21]:
bio.groupby('AGENCY').agg({'FY_TOTAL_COST':'sum'}).\
sort_values(by='FY_TOTAL_COST',ascending=False).head(5)

        FY_TOTAL_COST
AGENCY
NSF       770825622.0
NIFA      383979044.0
ARS       147142595.0
NIH       142997612.0
FS        103009402.0

In [22]:
solar[['FY_TOTAL_COST']].describe()

       FY_TOTAL_COST
count   5.226000e+03
mean    3.745350e+05
std     2.164032e+06
min     1.000000e+00
25%     1.146040e+05
50%     2.348805e+05
75%     3.860150e+05
max     1.460000e+08

# wind

In [23]:
wind[['CONTACT_PI_PROJECT_LEADER','DEPARTMENT',\
       'AGENCY','ORGANIZATION_CITY','ORGANIZATION_STATE','ORGANIZATION_COUNTRY']].describe()

,CONTACT_PI_PROJECT_LEADER,DEPARTMENT,AGENCY,ORGANIZATION_CITY,ORGANIZATION_STATE,ORGANIZATION_COUNTRY
count,429,429,429,421,421,421
unique,341,5,5,157,45,1
top,"MENEVEAU, CHARLES V",NSF,NSF,BLACKSBURG,TX,UNITED STATES
freq,5,385,385,12,55,421

In [24]:
wind[['FY_TOTAL_COST']].describe()

       FY_TOTAL_COST
count   4.120000e+02
mean    2.970710e+05
std     2.934846e+05
min     5.044000e+03
25%     1.417478e+05
50%     2.450710e+05
75%     3.581695e+05
max     2.446349e+06

# biomass

In [25]:
bio[['CONTACT_PI_PROJECT_LEADER','DEPARTMENT',\
       'AGENCY','ORGANIZATION_CITY','ORGANIZATION_STATE','ORGANIZATION_COUNTRY']].describe()

,CONTACT_PI_PROJECT_LEADER,DEPARTMENT,AGENCY,ORGANIZATION_CITY,ORGANIZATION_STATE,ORGANIZATION_COUNTRY
count,4236,4236,4236,4168,4151,4171
unique,3233,6,8,449,54,9
top,"WARD, TONY JOHN",NSF,NSF,MADISON,CA,UNITED STATES
freq,10,1932,1932,145,381,4151

In [26]:
bio[['FY_TOTAL_COST']].describe()

       FY_TOTAL_COST
count   3.107000e+03
mean    5.024806e+05
std     1.059810e+06
min     1.000000e+00
25%     1.371160e+05
50%     2.997750e+05
75%     4.994515e+05
max     2.360000e+07

# geothermal

In [27]:
geo[['CONTACT_PI_PROJECT_LEADER','DEPARTMENT',\
       'AGENCY','ORGANIZATION_CITY','ORGANIZATION_STATE','ORGANIZATION_COUNTRY']].describe()

,CONTACT_PI_PROJECT_LEADER,DEPARTMENT,AGENCY,ORGANIZATION_CITY,ORGANIZATION_STATE,ORGANIZATION_COUNTRY
count,335,335,335,329,327,331
unique,276,5,5,135,46,3
top,"KERANEN, KATHLEEN M",NSF,NSF,CORVALLIS,CA,UNITED STATES
freq,4,307,307,12,51,327

In [28]:
geo[['FY_TOTAL_COST']].describe()

       FY_TOTAL_COST
count   3.200000e+02
mean    2.547991e+05
std     3.754569e+05
min     4.000000e+02
25%     6.804650e+04
50%     1.607930e+05
75%     3.008998e+05
max     4.000000e+06

# Patent statistic summary

In [29]:
test2=patents_2010_2018.dropna(subset=['patent_abstract'])

In [30]:
REP = test2[test2['patent_abstract'].str.contains('solar | wind power | wind turbine | biomass | biofuel | geothermal')]
len(REP)

6048

In [31]:
REP[['patent_firstnamed_assignee_organization','patent_firstnamed_inventor_city',"patent_firstnamed_inventor_state"]].describe()

,patent_firstnamed_assignee_organization,patent_firstnamed_inventor_city,patent_firstnamed_inventor_state
count,5928,6047,6048
unique,1574,1359,51
top,General Electric Company,San Jose,CA
freq,403,164,1968

# Text selecting of renewable energy

In [32]:
geop = test2[test2['patent_abstract'].str.contains('geothermal')]
biop = test2[test2['patent_abstract'].str.contains('biomass | biofuel')]
windp = test2[test2['patent_abstract'].str.contains('wind power | wind turbine')]
solarp = test2[test2['patent_abstract'].str.contains('solar')]

In [33]:
geop.columns

Index(['patent_number', 'patent_title', 'patent_abstract',
       'patent_num_cited_by_us_patents', 'patent_date', 'app_date',
       'patent_firstnamed_inventor_name_first',
       'patent_firstnamed_inventor_name_last',
       'patent_firstnamed_inventor_city', 'patent_firstnamed_inventor_state',
       'patent_firstnamed_inventor_latitude',
       'patent_firstnamed_inventor_longitude',
       'patent_firstnamed_assignee_organization',
       'patent_firstnamed_assignee_city', 'patent_firstnamed_assignee_state',
       'patent_firstnamed_assignee_latitude',
       'patent_firstnamed_assignee_longitude'],
      dtype='object')

In [34]:
len(geop)+ len(solarp)+ len(biop)+ len(windp)

6450

# geothermal

In [35]:
geop[['patent_firstnamed_inventor_state','patent_firstnamed_inventor_city',\
      'patent_firstnamed_assignee_organization']].describe()

,patent_firstnamed_inventor_state,patent_firstnamed_inventor_city,patent_firstnamed_assignee_organization
count,156,156,149
unique,31,85,88
top,TX,Benicia,"Simbol, Inc."
freq,33,14,11

In [36]:
geop[['patent_num_cited_by_us_patents']].describe()

       patent_num_cited_by_us_patents
count                      156.000000
mean                         3.230769
std                          9.498282
min                          0.000000
25%                          0.000000
50%                          1.000000
75%                          3.000000
max                        107.000000

# biomass

In [37]:
biop[['patent_firstnamed_inventor_state','patent_firstnamed_inventor_city',\
      'patent_firstnamed_assignee_organization']].describe()

,patent_firstnamed_inventor_state,patent_firstnamed_inventor_city,patent_firstnamed_assignee_organization
count,1551,1551,1539
unique,49,500,457
top,CA,Houston,Shell Oil Company
freq,271,85,77

In [38]:
biop[['patent_num_cited_by_us_patents']].describe()

       patent_num_cited_by_us_patents
count                     1551.000000
mean                         3.755642
std                          9.773710
min                          0.000000
25%                          0.000000
50%                          0.000000
75%                          3.000000
max                        149.000000

# wind

In [39]:
windp[['patent_firstnamed_inventor_state','patent_firstnamed_inventor_city',\
      'patent_firstnamed_assignee_organization']].describe()

,patent_firstnamed_inventor_state,patent_firstnamed_inventor_city,patent_firstnamed_assignee_organization
count,890,889,864
unique,45,305,248
top,SC,Greenville,General Electric Company
freq,228,85,406

In [40]:
windp[['patent_num_cited_by_us_patents']].describe()

       patent_num_cited_by_us_patents
count                      890.000000
mean                         3.559551
std                          5.667715
min                          0.000000
25%                          0.000000
50%                          2.000000
75%                          4.750000
max                         76.000000

# Solar

In [41]:
solarp[['patent_firstnamed_inventor_state','patent_firstnamed_inventor_city',\
      'patent_firstnamed_assignee_organization']].describe()

,patent_firstnamed_inventor_state,patent_firstnamed_inventor_city,patent_firstnamed_assignee_organization
count,3853,3853,3767
unique,51,982,1061
top,CA,San Jose,SunPower Corporation
freq,1649,160,315

In [42]:
solarp[['patent_num_cited_by_us_patents']].describe()

       patent_num_cited_by_us_patents
count                     3853.000000
mean                         4.682325
std                         11.176220
min                          0.000000
25%                          0.000000
50%                          1.000000
75%                          4.000000
max                        180.000000